@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #272a31;
}

html {
  scroll-behavior: smooth;
}

#top-nav {
  display: none;
}

.founder-more i {
  color: #ec5242;
}

.top-nav-link li a i {
  color: #fff;
}

#nav-bar {
  padding: 10px 20px;
  display: flex;
  position: absolute;
}

.nav-links {
  opacity: 0;
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: radial-gradient(#191c229a, #272a314d);
  backdrop-filter: blur(4px);
  left: -100vw;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: 1s;
}

.nav-links.active {
  opacity: 1;
  left: 0;
  z-index: 2;
}

.nav-link.donate {
  border: 3px #ec5242 solid;
  padding: 5px 10px;
  background: white;
  transition: 0.5s;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.welcome > a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.a-contact > a {
  font-weight: 900;
}

.nav-link.donate a {
  color: #ec5242;
}

.nav-link.active a {
  color: #ec5242;
}

.nav-link.donate:hover a {
  color: #fff;
}

.nav-link.donate:hover {
  background: #ec5242;
}

.logo {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 30px;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.ham-line {
  height: 5px;
  width: 100%;
  background: #272a31;
  transition: 1s;
}

.hamburger.active .ham-line {
  position: relative;
  z-index: 3;
  background: white;
}

.hamburger.active .ham-line:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.hamburger.active .ham-line:nth-child(2) {
  display: none;
}

.hamburger.active .ham-line:nth-child(3) {
  transform: rotate(-45deg);
}

.welcome {
  padding: 80px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.829), white), url(./images/african-boy-mobile.jpg);
  background-blend-mode: luminosity;
  background-size: cover;
}

.welcome > h1 {
  color: #ec5242;
  font-weight: 900;
  font-size: 32px;
}

.w-description {
  background: #f0efef;
  padding: 15px;
  border: 2px solid white;
  border-radius: 3px;
}

.w-description > b {
  color: #ec5242;
}

.welcome > h3 {
  font-size: 24px;
  font-weight: 900;
  font-family: 'COCOGOOSE', sans-serif;
}

.work-card-image > img {
  width: 200px;
}

.founder-image > img {
  width: 100%;
}

.a-l-img > img {
  width: 100%;
}

.p-v-image img {
  height: 300px;
}

.footer-logo > img {
  height: 60px;
}

.welcome > a > img {
  align-self: center;
  height: 30px;
  position: relative;
  animation: hover 1s ease-in infinite;
  transition: 0.5s;
}

.welcome > a > img:hover {
  height: 40px;
  animation: none;
}

@keyframes hover {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: 10px;
    animation-timing-function: ease-out;
  }
}

.w-quote {
  text-align: center;
  font-family: 'COCOGOOSE', sans-serif;
}

.work {
  background-color: #272a31;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.work > h1 {
  text-align: center;
  color: white;
  position: relative;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.work > h1::after {
  content: '';
  margin: 20px auto;
  height: 2px;
  width: 50%;
  background: #ec5242;
  z-index: 2;
}

.work-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  width: 100%;
}

.work-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.178);
  padding: 20px 30px;
  gap: 10px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.work-card-image {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-content: center;
}

.work-card-title {
  color: #ec5242;
  font-size: 20px;
  flex: 0.8;
}

.work-card-text {
  color: white;
  flex: 2;
  width: 200px;
}

.work-prompt {
  margin: auto;
  justify-self: center;
  padding: 10px 20px;
  font-size: 20px;
  background: #ec5242;
  border: none;
  color: #fff;
  cursor: pointer;
}

.founders {
  background-color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.founders > h1 {
  text-align: center;
  color: #272a31;
  position: relative;
  width: fit-content;
  font-size: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.founders > h1::after {
  content: '';
  margin: 20px auto;
  height: 2px;
  width: 50%;
  background: #ec5242;
  z-index: 2;
}

.founder-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  width: 100%;
}

.founder-card {
  display: flex;
  background: #f7f6f6;
  padding: 10px;
  gap: 20px;
}

.founder-image {
  flex: 2;
}

.founder-card-content {
  flex: 3;
}

.founder-card-content > h1 {
  font-size: 18px;
}

.founder-occupation {
  color: #ec5242;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  position: relative;
  margin-bottom: 15px;
}

.founder-card-content hr {
  width: 10%;
}

.founder-description {
  position: relative;
  margin-top: 15px;
  font-size: 14px;
}

.founder-more {
  cursor: pointer;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  font-size: 13px;
}

/* About - Page - Styles */

.about-welcome {
  padding: 80px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background:
    url(./images/bg-design\ 1.png) 0 0 no-repeat,
    url(./images/bg-design\ 2.png) 105% 20% no-repeat,
    #f7f6f6;
}

.about-welcome > h1 {
  color: #ec5242;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
}

.a-w-description {
  background: white;
  padding: 20px;
  border: 2px solid #f0efef;
  text-align: center;
  border-radius: 3px;
}

.a-w-description > b {
  color: #ec5242;
}

.a-contact {
  text-align: center;
}

.about-logo {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-logo > hr {
  width: 30px;
  align-self: center;
  border: 1px solid #ec5242;
}

.about-logo > h1 {
  font-size: 20px;
  text-align: center;
}

.a-l-description {
  align-self: center;
  text-align: center;
  width: 80%;
}

.a-l-img {
  width: 80%;
  align-self: center;
  border: 1px solid #d3d3d3;
  margin-top: 20px;
  padding: 10px;
}

.p-visits {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.p-visits > h1 {
  font-size: 20px;
  text-align: center;
}

.p-visits > hr {
  width: 30px;
  align-self: center;
  border: 1px solid #ec5242;
}

.p-v-description {
  align-self: center;
  text-align: center;
}

.p-v-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.p-v-image {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.p-v-image > span {
  background: #ec5342d7;
  position: absolute;
  top: 0;
  opacity: 0;
  left: -100%;
  right: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
}

.p-v-image:hover > span {
  left: 0;
  right: 0;
  opacity: 1;
}

.p-v-image-description-date {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

.p-v-image-description-text {
  font-weight: 500;
  color: white;
  text-align: center;
  width: 60%;
}

footer {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: url(./images/bg-design\ 3.png) 105% 0 no-repeat;
}

.footer-logo {
  width: 40%;
}

.footer-content {
  width: 50%;
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  .work-card {
    flex-direction: row;
    width: 600px;
  }

  .founder-image > img {
    width: 70%;
    height: 100%;
  }

  .footer-content {
    font-size: 16px;
  }

  .about-welcome {
    background:
      url(./images/bg-design\ 1.png) 0 0 no-repeat,
      url(./images/bg-design\ 2.png) 105% 25% no-repeat,
      #f7f6f6;
  }
}

@media screen and (min-width: 768px) {
  #top-nav {
    margin: 0;
    background: #272a31;
    padding: 10px 10%;
    display: block;
  }

  .top-nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
    align-items: center;
  }

  .top-nav-link a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }

  .top-nav-links a i {
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  .logo {
    display: block;
  }

  .logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .founder-image > img {
    height: unset;
  }

  .logo a img {
    height: 50px;
  }

  #nav-bar {
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    box-shadow: 0 10px 10px -10px lightgray;
    background: #fff;
    z-index: 100;
  }

  .nav-links {
    position: static;
    opacity: 1;
    background: none;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    backdrop-filter: blur(0);
  }

  .nav-link a {
    color: #272a31;
    text-transform: capitalize;
    transition: 0.5s;
  }

  .welcome > a {
    display: none;
  }

  .nav-link a:hover {
    color: #ec5242;
  }

  .welcome {
    padding: 10% 30% 10% 15%;
    background: linear-gradient(rgba(255, 255, 255, 0.836), white), url(./images/african-boy.jpg);
    background-blend-mode: luminosity;
    background-size: cover;
  }

  .welcome > h1 {
    font-size: 40px;
  }

  .w-description {
    width: 70%;
  }

  .w-quote {
    text-align: start;
  }

  .work-cards {
    grid-template-columns: 1fr 1fr;
  }

  .work-card {
    flex-direction: column;
    width: unset;
  }

  .work-prompt {
    background: none;
    transition: 0.5s;
    border-bottom: 2px solid white;
  }

  .work-prompt:hover {
    color: #ec5242;
    border-bottom: 2px solid #ec5242;
  }

  .founder-cards {
    grid-template-columns: 1fr 1fr;
  }

  .founder-more {
    display: none;
  }

  /* About - Page - Styles */
  .about-welcome {
    padding: 10% 20%;
    background:
      url(./images/bg-design\ 1.png) 0 0 no-repeat,
      url(./images/bg-design\ 2.png) 82.5% 20% no-repeat,
      #f7f6f6;
  }

  .a-w-description {
    padding: 5% 10%;
  }

  .a-l-description {
    width: 60%;
  }

  .a-l-img {
    width: 40%;
  }

  .p-v-images {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 880px) {
  .work-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-welcome {
    background:
      url(./images/bg-design\ 1.png) 0 0 no-repeat,
      url(./images/bg-design\ 2.png) 82.5% 25% no-repeat,
      #f7f6f6;
  }
}

@media screen and (min-width: 1060px) {
  .work-cards {
    overflow-y: hidden;
    overflow-x: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }

  ::-webkit-scrollbar {
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .about-welcome {
    background:
      url(./images/bg-design\ 1.png) 0 0 no-repeat,
      url(./images/bg-design\ 2.png) 82.5% 25% no-repeat,
      #f7f6f6;
  }
}
