@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #272a31;
}

#top-nav {
  display: none;
}

#nav-bar {
  padding: 10px 20px;
  display: flex;
  position: absolute;
}

.nav-links {
  opacity: 0;
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: radial-gradient(#191c229a, #272a314d);
  backdrop-filter: blur(4px);
  left: -100vw;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: 1s;
}

.nav-links.active {
  opacity: 1;
  left: 0;
  z-index: 2;
}

.nav-link.donate {
  border: 3px #ec5242 solid;
  padding: 5px 10px;
}

.nav-link.donate a {
  color: #ec5242;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 30px;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.ham-line {
  height: 5px;
  width: 100%;
  background: #272a31;
  transition: 1s;
}

.hamburger.active .ham-line {
  position: relative;
  z-index: 3;
  background: white;
}

.hamburger.active .ham-line:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.hamburger.active .ham-line:nth-child(2) {
  display: none;
}
.hamburger.active .ham-line:nth-child(3) {
  transform: rotate(-45deg);
}

.welcome {
  padding: 80px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.829), white), url(./images/african-boy-mobile.jpg);
  background-blend-mode: luminosity;
  background-size: cover;
}

.welcome > h1 {
  color: #ec5242;
  font-weight: 900;
  font-size: 32px;
}

.w-description {
  background: #f0efef;
  padding: 15px;
  border: 2px solid white;
  border-radius: 3px;
}

.w-description > b {
  color: #ec5242;
}

.welcome > h3 {
  font-size: 24px;
  font-weight: 900;
}

.w-quote {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #top-nav {
    margin: 0;
    background: #272a31;
    padding: 10px 10%;
    display: block;
  }

  .top-nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
    align-items: center;
  }

  .top-nav-link a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }

  .top-nav-links a i {
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  .logo {
    display: block;
  }

  #nav-bar {
    position:sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    box-shadow: 0 10px 10px -10px lightgray;
    background: #fff;
  }

  .nav-links {
    position: static;
    opacity: 1;
    background: none;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    backdrop-filter: blur(0);
  }

  .nav-link {
  }

  .nav-link a {
    color: #272a31;
    text-transform: capitalize;
  }

  .welcome {
    padding: 10% 30% 10% 15%;
    height: calc(100vh - 90px);
    background: linear-gradient(rgba(255, 255, 255, 0.836), white), url(./images/african-boy.jpg);
    background-blend-mode: luminosity;
    background-size: cover;
  }

  .welcome > h1 {
    font-size: 40px;
  }

  .w-description {
    width: 70%;
  }

  .w-quote {
    text-align: start;
  }
}

