/* Welcome Section */
.welcome-container {
  display: grid;
  place-items: center;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.1), 20px, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0.8), white),
    url('../assets/background/african-boy.webp');
  background-size: cover;
  background-position: top center;
}

.welcome {
  width: min(100%, var(--max-content-width));
  padding: 7.5rem 1.5rem 5rem;
  background: transparent;
  color: var(--color-dark);
}

.w-header {
  margin: 0 0 1rem;
  color: var(--color-orange);
  font-weight: 900;
  font-family: var(--font-raleway);
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.1;
  max-width: 800px;
}

.w-description {
  background: var(--color-light-grey);
  padding: 1rem;
  box-shadow: 0 0 0 0.25rem white;
  border-radius: 0.25rem;
  max-width: 700px;
}

.w-sub-header {
  font-weight: 900;
  font-family: var(--font-raleway);
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin: 3rem 0 0.75rem;
}

.w-coa {
  margin: 4rem 0 0;
  display: grid;
  place-items: center;
  --speed: 1.5s;
  --color-initial: var(--color-grey);
  --color-play: var(--color-dark);

  a {
    position: relative;
    cursor: pointer;
    width: 24px;
    aspect-ratio: 1 / 1;
  }

  a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.5s;
    animation: hover var(--speed) ease infinite;
  }

  a svg path:nth-child(1) {
    stroke: var(--color-initial);
    animation: color-change-1 var(--speed) linear infinite;
    
  }
  a svg path:nth-child(2) {
    stroke: var(--color-initial);
    animation: color-change-2 var(--speed) linear infinite;
  }
  a svg path:nth-child(3) {
    stroke: var(--color-initial);
    animation: color-change-3 var(--speed) linear infinite;
  }
}

@keyframes color-change-1 {
  0%, 20% { stroke: var(--color-initial) }
  10% { stroke: var(--color-play) }
}
@keyframes color-change-2 {
  14%, 37% { stroke: var(--color-initial) }
  25% { stroke: var(--color-play) }
}
@keyframes color-change-3 {
  30%, 50% { stroke: var(--color-initial) }
  40% { stroke: var(--color-play) }
}

@keyframes hover {
  0%,
  100% {
    transform: translateY(-50%) translateX(-50%);
  }

  50% {
    transform: translateY(0) translateX(-50%);
  }
}

/* Work Section */
.work-container {
  background: var(--color-dark);
  display: grid;
  place-items: center;
  position: relative;
}

#work {
  position: absolute;
  top: -72px;
  left: 0;
}

.work {
  width: min(100%, var(--max-content-width));
  padding: 3rem 1.5rem 5rem;
  color: var(--color-grey);
  display: flex;
  flex-direction: column;

  .work-header {
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-bottom: 4rem;
  }

  .work-header::after {
    content: '';
    width: 4rem;
    height: 0.125rem;
    background-color: var(--color-orange);

    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.work-cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.25rem;
  margin-bottom: 4rem;
}

.work-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: min(100%, 480px);

  .work-card-header {
    color: var(--color-orange);
    font-size: 18px;
  }

  .work-card-image {
    box-shadow: 0 0 0 1px var(--color-grey);
    margin-bottom: 0.5rem;
  }

  .work-card-image {
  }

  .work-card-image img {
    width: 100%;
    object-fit: cover;
  }

}

.work-card:hover {
  box-shadow: 0 0 0 0.125rem var(--color-grey) inset;
}

.work-prompt {
  text-transform: uppercase;
  margin-inline: auto;
  color: var(--color-grey);
}

/* Founders */
.founder-container {
  background: white;
  display: grid;
  place-items: center;
  position: relative;
}

#founder {
  position: absolute;
  top: -72px;
  left: 0;
}

.founder {
  width: min(100%, var(--max-content-width));
  padding: 3rem 1.5rem 5rem;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;

  .founder-header {
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-bottom: 4rem;
  }

  .founder-header::after {
    content: '';
    width: 4rem;
    height: 0.125rem;
    background-color: var(--color-orange);

    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.founder-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.founder-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));

  &.hidden {
    display: none;
  }

  .founder-image {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }

  .founder-image img {
    object-fit: contain;
    object-position: top;
    border-radius: 0.25rem;
  }

  .founder-content {
    grid-column: 3 / span 3;

    .founder-occupation {
      color: var(--color-orange);
      font-size: 14px;
      margin: 0 0 0.5rem;
    }
  }
}

.founder-more {
  padding: 1rem;
  border: 1px solid var(--color-grey);

  display: flex;
  gap: 1ch;
  justify-content: center;
  align-items: center;
  background-color: white;

  transition: background-color 250ms ease-out;

  i {
    color: var(--color-orange);
  }
}

.founder-more:hover {
  background-color: var(--color-light-grey);
}

@media screen and (min-width: 768px) {
  .w-header {
    font-size: 56px;
  }

  .w-description {
    padding: 2rem;
  }

  .w-sub-header {
    font-size: 32px;
  }

  .w-sub-description {
    font-size: 18px;
  }

  .w-coa {
    a {
      width: 32px;
    }
  }

  .work {
    .work-header {
      font-size: 1.5rem;
    }
  }

  .work-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .work-card-header {
    font-size: 22px;
  }

  .founder {
    .founders-header {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .work-cards {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .founder-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .founder-card {
    &.hidden {
      display: grid;
    }
  }

  .founder-more {
    display: none;
  }
}